.content {

    max-width: 80%;
    margin:  0 auto;
}


.title {
    font-size: 3rem;
    margin: 3rem 0;text-align: center; 

}

p {
    line-height: 1.6;
    font-size: 1.1rem;
    letter-spacing:  1px;
}